* {
  margin: 0;
  padding: 0;
}
.student h1 {
  font-family: sans-serif;
  color: rgb(5, 68, 119);
  font-weight: bold;
  font-size: 40px;
  border-radius: 24px;
}
.text-center {
  text-align: center;
}
.watermark img {
  float: left;
  width: 500px;
  padding-left: 4%;
  margin-top: 0px;
  margin-bottom: -101px;
  background-position: right -10px bottom 10px;
}
.navbar {
  width: 100%;
  height: 75px;
  background-color: rgb(5, 68, 119);
}
.menu {
  font-family: sans-serif;
  font-size: 14px;
}
.main {
  background-image: linear-gradient(
    to bottom right,
    rgba(96, 235, 226, 0.7),
    rgba(36, 94, 243, 0.7)
  );
  min-height: 85vh;
}
.main-login {
  background-image: url("../images/back.jpg");
  background-size: cover;
  /* min-height: 80vh; */
  display: flex;
  justify-content: center;
}
.tbl-50 {
  width: 50%;
}
.tbl-full {
  width: 100%;
}
.tbl-30 {
  width: 30%;
}
table tr {
  width: 50%;
}
table tr th {
  border: 2px solid;
  padding: 1% 0%;
  text-align: left;
}
table tr td {
  border: 1px solid;
  padding: 1%;
}
.btn-primary {
  background: linear-gradient(
    to bottom right,
    rgba(192, 78, 198, 0.7),
    #390de7
  );
  margin-left: 3px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: none;
  border-radius: 24px;
  padding: 13px;
  font-size: 14px;
  font-weight: bold;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: rgb(5, 68, 119);
  transition: 0.4s ease-in-out;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.btn-secondary {
  cursor: pointer;
  background-color: white;
  color: black;
  mix-blend-mode: screen;
  border: none;
  border-radius: 6px;
  padding: 2%;
  width: 90px;
  height: 40px;
  transition: 0.4s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 4px;
  box-shadow: 0px 8px 15px rgba(18, 241, 141, 0.1);
  transition: all 0.3s ease 0s;
}
.btn-secondary:hover {
  box-shadow: 0px 15px 20px rgba(187, 251, 200, 0.4);
  font-size: 18px;
}
.btn-tertiary a {
  cursor: pointer;
  background-color: white;
  mix-blend-mode: screen;
  border: none;
  border-radius: 6px;
  display: inline-flex;
  justify-content: center;
  padding: 5%;
  width: 73px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 50px;
  transition: 0.4s ease-in-out;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0px 8px 15px rgba(18, 241, 141, 0.1);
  transition: all 0.3s ease 0s;
}
.btn-tertiary a:hover {
  box-shadow: 0px 15px 20px rgba(187, 251, 200, 0.4);
  text-decoration: underline 2px;
  transition: 0.4s ease-in-out;
}
.dropdown {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown select {
  background: linear-gradient(
    to bottom right,
    rgba(192, 78, 198, 0.7),
    #390de7
  );
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 13px;
  border: none;
  border-radius: 24px;
}

option {
  background-color: #b9daf0;
  border: none;
  /* outline:none; */
}
ul {
  margin-right: 2%;
  padding: 2%;
}
ul li {
  float: right;
  list-style: none;
  display: inline;
}
ul li a {
  color: white;
  padding: 20px;
  text-decoration: none;
}
ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transition: 000.4s ease-in;
  text-decoration-color: rgba(96, 235, 226, 0.7);
}

.clearfix {
  float: none;
  clear: both;
}
.logo {
  color: white;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px;
  padding: 20px;
  float: left;
}
.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
  padding-top: 1%;
}
.card {
  width: 200px;
  height: 220px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  margin: 10px 15px;
  align-items: center;
}
.card1 {
  background: linear-gradient(to bottom right, #fc5c7d, #6a82fb);
}
.card2 {
  background: linear-gradient(to bottom right, #16bffd, rgba(151, 5, 159, 0.7));
}
.card3 {
  background: linear-gradient(to bottom right, #009fff, #fc5c7d);
}
.card4 {
  background: linear-gradient(to bottom right, rgba(151, 5, 159, 0.7), #390de7);
}
.card h5 {
  color: white;
  font-size: 25px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 5%;
}

.form {
  width: 250px;
  height: 380px;
  margin: 5%;
  background-color: rgb(5, 68, 119);
  transform: translate(0%, -5%);
  border-radius: 20px;
  padding: 25px;
  padding-top: 40px;
}

.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 22px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(186, 225, 254);
  color: black;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}
.form input:focus {
  outline: none;
}
.btn input {
  width: 100px;
  margin-left: 75px;
  border: none;
  background: linear-gradient(
    to bottom right,
    rgba(96, 235, 226, 0.7),
    rgba(36, 94, 243, 0.7)
  );
  color: white;
}
.btn input:hover {
  background-color: rgb(14, 166, 248);
  cursor: pointer;
  color: white;
  transition: 00.2s ease-in;
}
.student {
  margin: 0% 5%;
  padding: 2%;
}

.footer-bottom {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(5, 68, 119);
  color: white;
  text-align: center;
}
.footer-bottom p {
  padding: 1.5%;
  font-size: 20px;
}
.roll-search {
  padding-left: 1%;
  margin-left: 1%;
  margin-top: 15px;
  margin-right: 3%;
}
.roll-search input[type="search"] {
  width: 300px;
  padding: 13px;
  font-size: 1rem;
  border: 3px;
  border-radius: 24px;
}
.roll-search input [type="search"] {
  outline: none;
  border: none;
}
.count {
  margin-left: 16%;
  padding-top: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
}
.success {
  color: green;
}
.error {
  color: #ec2f4b;
}
.container2 {
  margin-left: 240px;
}
.student-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 100px;
}

.student-table td,
.student-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.student-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.student-table tr:hover {
  background-color: #ddd;
}

.student-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
/* .dropdown1 {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown1 select {
  font-size: 15px;
  padding: 18px;
  border: none;
  border-radius: 20px;
} */
.add-student {
  width: 30%;
  margin: 0 auto;
  padding-bottom: 60px;
}
.student-label {
  margin-top: 10px;
  margin-bottom: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(5, 68, 119);
  font-weight: bold;
  text-align: left;
  margin-left: 40px;
}
.add-student input {
  border: none;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
}
.add-student input[type="submit"] {
  width: 100px;
  border-radius: 10px;
  padding: 10px;
}
fieldset {
  border: 3px solid white;
  align-items: center;
  /* width:auto; */
  margin: 2%;
  padding: 4%;
  border-radius: 5px;
  margin-bottom: 0px;
}
legend {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-white {
  color: white;
}
.student-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(5, 68, 119);
  padding-top: 50px;
  padding-bottom: 10px;
}
.container {
  margin: 0 auto;
  text-align: center;
}
.form-dropdown {
  border: none;
  width: 320px;
  border-radius: 10px;
  padding: 10px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  margin: 0 auto;
  margin-top: -4px;
  margin-bottom: -4px;
  border-radius: 24px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 132px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Dropdown Button */
.dropbtn1 {
  background: linear-gradient(
    to bottom right,
    rgba(192, 78, 198, 0.7),
    #390de7
  );
  color: white;
  padding: 11px;
  font-size: 16px;
  border: none;
  margin: 0 auto;
  margin-top: -4px;
  margin-bottom: -4px;
  border-radius: 24px;
}
.dropdown:hover .dropbtn1 {
  background-color: rgb(5, 68, 119);
  transition: 0.4s ease-in-out;
}

.marks {
  margin-left: 4%;
}
.marks-tbl {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  width: 90%;
  margin-bottom: 100px;
}

.marks-tbl td,
.marks-tbl th {
  border: 1px solid #ddd;
  padding: 8px;
}
.marks-tbl td input {
  width: 120px;
}

.marks-tbl tr {
  background-color: #ddd;
  height: min-content;
}
.marks-tbl tr:nth-child(even) {
  background-color: #f2f2f2;
}

.marks-tbl tr:hover {
  background-color: #ddd;
}

.marks-tbl th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
.edit {
  margin-left: 80%;
  width: 90px;
  height: 40px;
}
.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(75, 75, 75);
}

.dropdown:hover .dropdel:hover {
  background-color: rgb(250, 60, 60);
  color: white;
  transition: 0.2s ease-in-out;
}

